/* profile */
h3 {
  color: #d64e80;
  font-size: 50px;
  border-bottom: solid 1px #d64e80;
}

h4 {
  color: #d64e80;
  text-align: center;
  font-size: 50px;
}

.detail {
  color: black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.belong {
  margin-bottom: 20px;
}
.belong p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: lighter;
}

.content-body {
  display: flex;
  justify-content: space-around;
}

.spc {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #d64e80;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-top: solid 5px;
}

/* スクロールした時の動き */
.name {
  opacity: 0;
	transform: translate(0,60px);
	-webkit-transform: translate(0,60px);
}

.mv07 {
  opacity: 1.0;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}

.social {
  text-align: center;
}

.social a {
  padding-left: 0;
  display:table;
  text-align:center;
  vertical-align: middle;
}



/* 中央プロフィール */
div#content-left {
  position: relative;
  float: left;
}

div#content-middle {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

div#submenuright {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.m-g {
    position: relative;
    margin: 7em 0;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    border-top: solid 1px #d64e80;
    border-bottom: dotted 1px #d64e80;
}
.m-g .m-g-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    /*background: #9CC;*/ /* 水色 */
    /*background: rgba(214,78,128,.4);*/ /* ピンク */
    background: #d64e80; /* 濃いピンク */
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}
.m-g p {
    margin: 0;
    padding: 0;
}

.calender {
  background-color: white;
  margin: 0;
}
.link-act {
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: 5;
}
