.name {
  display: inline-block; /* インラインボックスの生成 */
  vertical-align: middle; /* 縦に真ん中 */
  position: relative; /* 現在の位置を元に相対的な位置に決める */
  width: 400px; /* 横幅 */
  height: 400px; /* 縦幅 */
  border-radius: 50%; /* 枠に丸み */
  background-clip: content-box; /* padding領域も含まない、内容部分のみに表示 */
  padding: 5px; /* 内側の余白 */
  transition: .5s; /* 時間的変化 */
  /*background-color: #D7D0BE;*/
  background-image: url(../imgs/profile_img.JPG);
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 70px;
}
