.mybackground p {
  text-align: center;
}

table.myb {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  /*border-top: 1px solid #d64e80;*/
}

table.myb th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px dashed rgba(214,78,128,.4);
}

table.myb td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px dashed rgba(214,78,128,.4);
}

.hoge {
  display: table-cell;
  justify-content: center;
  align-items: center;
  float: bottom;
}
